@font-face {
  font-family: Lovelo;
  src: url(Lovelo\ Black.otf);
}

@font-face {
  font-family: Hollowvelo;
  src: url(Lovelo\ Line\ Bold.otf);
}

@font-face {
  font-family: AgrandirReg;
  src: url(Agrandir-Regular.otf);
}

@font-face {
  font-family: AgrandirBold;
  src: url(Agrandir-TextBold.otf);
}

body {
  background-color: #FFCC99;
  margin: 0;
  padding: 0;
}

header {
  width: calc(100% - 192px);
  height: 120px;
  border: 3px solid black;
  position: relative;
  margin: 4px 96px;
}

header h1 {
  color: black;
  font-family: Lovelo;
  font-size: 56px;
  margin: 4px;
}

header img {
  position: absolute;
  top: 5px;
  right: 4px;
}

header h2 {
  font-family: AgrandirReg;
  color: #000000;
  margin: 7px;
}

nav {
  width: calc(100% - 192px);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 96px;
  padding-top: 15px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li:hover{
  background-color: #80808080;
  transition: 0.5s;
}

nav li {
  display: inline-block;
  margin: 72px;
  padding: 15px
}

nav li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

li {
  font-family: AgrandirBold;
}

article {
  width: calc(100% - 232px);
  border: 3px solid black;
  background-color: #FFCC99;
  padding: 20px;
  margin: 20px 96px;
  min-height: calc(100vh - 324px);
}

article h2 {
  font-family: Hollowvelo;
  color: black;
  font-size: 76px;
  margin: 2px;
}

article img {
  float: left;
  margin-right: 20px;
  margin-top: 4px;
  width: 380px;
  height: 380px;
}

article p {
  font-family: AgrandirReg;
  font-size: 28px;
  margin-top: 4px;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4px 96px;
}

footer1 img {
  height: 45px;
  margin-left: 2px;
  margin-bottom: 10px;
  cursor: pointer;
  padding-top: 5px;
}

footer2 img {
  height: 45px;
  margin-left: 2px;
  margin-bottom: 10px;
  cursor: pointer;
  padding-top: 5px;
}

.gallery {
  width: calc(100% - 232px);
  border: 3px solid black;
  background-color: #FFCC99;
  padding: 20px;
  margin: 20px 96px;
  min-height: calc(100vh - 324px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.gallery-item p {
  font-family: AgrandirReg;
  font-size: 28px;
  margin-top: 4px;
}

footernav {
  margin: 20px 96px;
  position: relative;
  bottom: 0;
  width: calc(100% - 192px);
  display: flex;
  justify-content: center;
  }

footer nav {
display: flex;
justify-content: center;
align-items: center;
}

footer ul {
list-style: none;
margin: 0;
padding: 0;
}  

footer li {
display: inline-block;
margin: 10px;
}

footer li a {
text-decoration: none;
font-size: 20px;
font-weight: bold;
color: black;
margin: 4px 96px;
}

.family-member {
  display: flex;
  margin-bottom: 20px;
}

.family-member img {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

.member-description {
  display: flex;
  flex-direction: column;
}

.member-description h3 {
  font-family: AgrandirBold;
  color: black;
  font-size: 40px;
  margin: 0;
}

.member-description p {
  font-family: AgrandirReg;
  font-size: 22px;
  margin-top: 4px;
}

hr {
  display: none;
}

